html, body{
    margin:0; 
	background-color: #ffffff;
	color: #666666;
	font-family:微軟正黑體 Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	height: 100%;
}

#wraper{
	width:960px;
	position:relative;
    margin: 0 auto ;	
}

A:link {
    color:#6eae1c;
    text-decoration: none; 
}

A:active {
    color:#6eae1c;
    text-decoration: none; 
}

A:visited {
    color:#6eae1c;
    text-decoration: none; 
}

A:hover {
    color:#bf1212;
    text-decoration: underline;
}

.image_left{
	float:left;
}

.image_right{
	float:right;
}

.innerHtmlObject{
    margin: 0;
    padding-top: 3px;
    color:#666666;
	font-size:13px;
	border: 1px solid #d6d6d6;
	background-color:#ffffff;
	font-family:微軟正黑體 Arial, Helvetica, sans-serif;
	height:18px;
}

.innerHtmlObject2{
    margin: 0;
	padding:5px ;
	text-align:left;
    color:#666666;
	font-size:12px;
	border: 1px solid #d6d6d6;
	background-color:#ffffff;
	font-family:微軟正黑體 Arial, Helvetica, sans-serif;
	line-height: 17px;
}

#footer_text{
	width: 100%;
	font-family:微軟正黑體 Arial, Helvetica, sans-serif;
	font-size:11px;	
	color: #666666;
	text-align:center;
	-webkit-text-size-adjust:none;
	background-color:#f3f2f1;
	height: 30px;
    border-top:1px solid #cfcfcf;
	border-bottom:1px solid #cfcfcf;
	padding-top: 15px;
	clear:both;
}



